.dialogs {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {

}

.dialogsItems .active {
    color: gold;
}

.dialog {

}

.messages {

}

.message {

}

.dialogAvatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.outgoing {
    position: relative;
    left: 0;
}

.incoming {
    text-align: right;
}